<%= render 'layouts/navbar2' %>
<div class="container-show">
<h1>Add new list</h1>

<%= simple_form_for(@list) do |f| %>
  <%= f.input :name %>
  <%= f.input :photo, as: :file %>
  <%= f.submit "Add new list!"%>
<% end %>

<%= link_to "Back", lists_path %>
</div>
